extends ../../layouts/default.pug

block main
    h1(class="mb-4") Thêm mới nhóm quyền

    form(
            action=`/${prefixAdmin}/roles/edit/${record.id}?_method=PATCH` 
            method="POST"
        )
            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                    class="form-control" 
                    type="text" 
                    id="title"
                    name="title" 
                    value = record.title
                    required
                )

            div(class="form-group")
                label(for="desc") Mô tả
                input(
                    type="text" 
                    class="form-control" 
                    id="desc"
                    name="description"
                    value = record.description 
                )
                
            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Chỉnh sửa